<?xml version="1.0"?>
<configuration>   
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Dmf.Common" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ServiceBrokerEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SmoMetadataProvider" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfoExtended" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.GridControl" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SqlParser" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SystemMetadataProvider" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.OlapEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.AzureStorageEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.RegSvrEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.PolicyEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SmoExtended" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.WmiEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlWmiManagement" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Utility" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.UtilityEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.MultiServerConnection" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.RegisteredServers" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Collector" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.CollectorEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEvent" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEventEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEventDbScoped" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEventDbScopedEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="microsoft.sqlserver.batchparser" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.BatchParserClient" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Diagnostics.STrace" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlTDiagM" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SString" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.HadrDmf" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Dmf" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Dmf.Adapters" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SqlWizardFramework" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlTools.Telemetry.Interop" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.HelpViewer" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.XEvent.Linq" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.XE.Core" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
