<configuration>
  <startup>
    <requiredRuntime version="v4.0.30319" safemode="true" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Mashup"/>
	    <dependentAssembly>
            <assemblyIdentity name="Microsoft.Data.ConnectionUI" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
            <bindingRedirect oldVersion="8.0.0.0-12.0.0.0" newVersion="14.0.0.0"/>
            <codeBase version="14.0.0.0" href="..\..\..\..\..\Microsoft Visual Studio 14.0\Common7\IDE\Microsoft.Data.ConnectionUI.Dll" />
	    </dependentAssembly>
	    <dependentAssembly>
            <assemblyIdentity name="Microsoft.Data.ConnectionUI.Dialog" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
            <bindingRedirect oldVersion="8.0.0.0-12.0.0.0" newVersion="14.0.0.0"/>
            <codeBase version="14.0.0.0" href="..\..\..\..\..\Microsoft Visual Studio 14.0\Common7\IDE\Microsoft.Data.ConnectionUI.Dialog.Dll" />
        </dependentAssembly>
	    <dependentAssembly>
            <assemblyIdentity name="Microsoft.VisualStudio.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
            <bindingRedirect oldVersion="8.0.0.0-12.0.0.0" newVersion="14.0.0.0"/>
            <codeBase version="14.0.0.0" href="..\..\..\..\..\Microsoft Visual Studio 14.0\Common7\IDE\Microsoft.VisualStudio.Data.Dll" />
        </dependentAssembly>
	    <dependentAssembly>
            <assemblyIdentity name="Microsoft.VisualStudio.Shell.9.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
            <bindingRedirect oldVersion="2.0.0.0-12.0.0.0" newVersion="14.0.0.0"/>
            <codeBase version="14.0.0.0" href="..\..\..\..\..\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies\Microsoft.VisualStudio.Shell.9.0.Dll" />
	    </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AppLocal.AdomdClient" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AppLocal.Commands" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AppLocal.Core" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AppLocal" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AppLocal.Tabular" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AppLocal.Tabular.Json" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AppLocal.Xmla" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
   </runtime>
</configuration>